/* .createmodal {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */


.e1 {
    color: #f70000;
    position: absolute;
    font-size: 12px;
    top: 355px;
    right: 20px
}

.e2 {
    color: #f70000;
    position: absolute;
    font-size: 12px;
    top: 410px;
    right: 15px
}

.e3 {
    color: #f70000;
    position: absolute;
    font-size: 12px;
    top: 465px;
    right: 1px
}

.e4 {
    color: #f70000;
    position: absolute;
    font-size: 12px;
    top: 520px;
    right: 20px
}