body {
    margin: 0;
    width: 100%;
    
}

button:hover{
    cursor: pointer;
}

.productcont {
    /* border: 1px solid black; */
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.update-prod-btn:hover {
    cursor: pointer;
}

.maincont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Adjust gap between products */
    max-width: 1024px; /* Limit container width */
    margin: 0 auto; /* Center container horizontally */
}

.img {
    width: 205px;
    height: 200px;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    
}

.nav-links-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid grey;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
     background-color: #232F3E; 
    /*text-decoration: none;
    color; */
}

.product-box {
    font-weight: 560;
    cursor:pointer;
        position:relative;
        padding:10px 20px;
        background:white;

        /* font-size:28px; */
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        transition:all 1s;
        &:after,&:before{
            content:" ";
            width:10px;
            height:10px;
            position:absolute;
            border :0px solid #fff;
            transition:all 1s;
            }
        &:after{
            top:-1px;
            left:-1px;
            border-top:5px solid black;
            border-left:5px solid black;
        }
        &:before{
            bottom:-1px;
            right:-1px;
            border-bottom:5px solid black;
            border-right:5px solid black;
        }
        &:hover{
            border-top-right-radius:0px;
        border-bottom-left-radius:0px;
             background:rgba(0,0,0,.5);
             color:white;
            &:before,&:after{
                
                width:100%;
                height:100%;
                 border-color:white;
            }
        }
    }
    

.prodname-home {
    margin: 4px;
}

.bottomcont-home {
    font-weight: bolder;
    float: right;
    padding-right: 8px;
    display: flex;
    /* justify-content: flex-end; */
}

.product-box {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding-bottom: 3px;
    
}
.headphone {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
}

.home-buttons button {
    width: 120px;
   padding: 8px; 
   /* display: flex; */
   /* justify-content: center;
   align-items: center; */
   border: 1px solid grey;
   margin-bottom: 10px;
   padding-bottom: 10px;
   padding-top: 10px;
   background-color: #224f86;
   text-decoration: none;
   

}

.home-buttons:hover {
    cursor: pointer;
}

.update-prod-btn {
    background-color: #28a745; /* Green color */
    color: #fff; /* White text color */
    padding: 8px 16px; /* Adjust padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add cursor pointer */
  }
  
  .update-prod-btn:hover {
    background-color: #218838; /* Darker green color on hover */
  }
  
  /* Delete Product button */
  .delete-prod-btn {
    background-color: #dc3545; /* Red color */
    color: #fff; /* White text color */
    padding: 8px 16px; /* Adjust padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Add cursor pointer */
  }
  
  .delete-prod-btn:hover {
    background-color: #c82333; /* Darker red color on hover */
  }

@media (min-width: 768px) and (max-width: 1024px) {
    .column {
      flex: 50%;
      max-width: 100%;
    }
    .img {
        width: 245px;
        height: 200px;
        border-radius: 10px;
        margin: 5px;
        margin-left: 5px;
        
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (min-width: 767px) and (max-width: 600px) {
    .column {
        flex: 50%;
        max-width: 100%;
      }
      .img {
        width: 320px !important;
        height: 200px;
        border-radius: 10px;
        margin: 5px;
        margin-left: 5px;
        
    }
  }

  .foot-link-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    margin-top: 20px;
    background-color: #050505;
    padding: 50px;
  }
  
  .foot-link-cont a {
    /* color: rgb(255, 255, 255, 0.7); */
    font-size: 25px;
  }
  .foot-a-cont {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .foot-person {
    color: white;
    font-size: 20px;
  }