.star-on {
    color: yellow;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.star-off {
    color: lightgrey;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.createrevmodal {
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-business-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-star {
    margin-bottom: 30px;
}

.ratings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewsubmit {
    margin-top: 10px;
    width: 100%;
    margin-top: 10px;
    background-color: #F7CA00;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    font-size: smaller;
    font-weight: bold;
    color: black;
}

.uar {
    display: flex;
    justify-content: center;
    align-self: center;
}

.updaterevmodal {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.reviewsubmit:hover {
    cursor: pointer;
}

.reverr {
    color: #f70000;
    position: absolute;
    top: 410px;
    font-size: 12px;
    right: 230px
}

.reverr2 {
    color: #f70800;
    position: absolute;
    top: 100px;
    font-size: 12px;
    right: 120px
}