.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
  max-width: 1024px; 
  margin: 0 auto; 
  background-color: #000000;
}

.business-logo {
  width: 150px; 
  cursor: pointer;
}

.create-prod-btn button {
  
  background-color: #ffcc00; 
  color: #fff;
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

.create-prod-btn button:hover {
  background-color: #0056b3; 
}

.nav-search-main-cont {
  position: relative;
}

.search-bar {
  padding: 8px;
  width: 230px; 
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding-left: 10px;
}

.search-results-container {
  position: absolute;
  width: 215px; 
  max-height: 300px; 
  overflow-y: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  
}

.search-results-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-result {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  color: #333;
}

.result-img {
  width: 40px; 
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.result-details {
  flex-grow: 1;
}

.itemname {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}
