.profile-dropdown {
  position: static;
  text-decoration: underline 1px;
  color: #222222;
  padding-bottom: 8px;
  cursor: pointer;
  border: 1px solid #222222;
  height: 45px;
  width: auto;
  gap: 10px;
  
}

.create-prod-btn:hover {
  cursor: pointer;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin: 0;
}

.search-bar {
  width:400px;
  padding: 15px;
  border-radius: 100px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: 10px center;
  text-align: center;
}

.search-bar:focus {
  border: none;
  text-decoration: none;
  background-color: rgb(206, 232, 246);
}

.business-logo {
  height: 155px;
    
}

.business-logo:hover {
  cursor: pointer;
    
}

.create-product-modal {
  margin-top: 10px;
  margin-top: 10px;
    /* background-color: #F7CA00; */
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    font-size: smaller;
    font-weight: bold;
    color: black;
}