.profile-dropdown {
  position: absolute;
}

.navigation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #131921;
}

.search-bar {
  width: 350px;
  height: 35px;
}